{% extends 'catalog/base.html' %}

{% block content %}

<div class="col-12 mb-5 m-2">
    <a class="btn btn-outline-primary" href="{% url 'catalog:categories' %}">
        Категории продуктов
    </a>
</div>


{% for object in object_list %}
<div class="card mb-4 box-shadow col-6 m-2 ">
    <div class="card-body">
        <p><a href="{% url 'catalog:category_products' object.pk %}">
            {{object.nomination}}</a></p>

        <p>{{object.description}}</p>

    </div>
</div>
{% endfor %}


{% endblock %}